/*Imports*/
@import 'chart';

/*CSS*/
	html,body {
		height: 100%;	
	}

	.description_module{
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.top_navbar{
	      display: none;
	}

	.nav>li>a:hover, .nav>li>a:focus{
		color:#000;
	}

	.left-sidebar {
		position: fixed;
	    width: 200px;
	    height: 100%;
	    background-color: #000;
	    color: #fff;
	    
	    .vertical-align{
	    	position: relative;
			top: 50%;
			transform: translateY(-75%);
			
			h2{
				text-align: center;
			}
			a{
	    		color:#fff;
	    		&:hover{
	    			color:#000;
	    		}
	    		&.go_gecorisk:hover{
					color: #fff !important;
					text-decoration: none;
				}
	    	}

			
	    }
	}

	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) {
		.left-sidebar{
		    display: none;
		}
		.top_navbar{
			display: block;
		}
		body{
			padding-top: 70px; 	
		}
	}

	.main_content{
		position: relative;
		width: auto;
		overflow: hidden;
		margin-left: 200px;

		@media (max-width: 767px) {
			margin-left: 0px;	
		}
	}

	.form_mid{
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}



	//index.balde.php

	.index{
			padding-top: 150px;
			width: 700px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		.index_update_info{
			padding-top: 30px;
			width: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		@media (max-width: 767px) {
			.index{
			    width: 100%;
			    padding: 40px 10%;
			}
			.index_update_info{
			    width: 100%;
			    padding: 0 10%; 	
			}
		}

	/*purple button for bootstrap*/

	.btn-info2 { 
	  color: #ffffff; 
	  background-color: #763AC4; 
	  border-color: #0E0247; 
	} 
	 
	.btn-info2:hover, 
	.btn-info2:focus, 
	.btn-info2:active, 
	.btn-info2.active, 
	.open .dropdown-toggle.btn-info2 { 
	  color: #ffffff; 
	  background-color: #4C07A6; 
	  border-color: #0E0247; 
	} 
	 
	.btn-info2:active, 
	.btn-info2.active, 
	.open .dropdown-toggle.btn-info2 { 
	  background-image: none; 
	} 
	 
	.btn-info2.disabled, 
	.btn-info2[disabled], 
	fieldset[disabled] .btn-info2, 
	.btn-info2.disabled:hover, 
	.btn-info2[disabled]:hover, 
	fieldset[disabled] .btn-info2:hover, 
	.btn-info2.disabled:focus, 
	.btn-info2[disabled]:focus, 
	fieldset[disabled] .btn-info2:focus, 
	.btn-info2.disabled:active, 
	.btn-info2[disabled]:active, 
	fieldset[disabled] .btn-info2:active, 
	.btn-info2.disabled.active, 
	.btn-info2[disabled].active, 
	fieldset[disabled] .btn-info2.active { 
	  background-color: #763AC4; 
	  border-color: #0E0247; 
	} 
	 
	.btn-info2 .badge { 
	  color: #763AC4; 
	  background-color: #ffffff; 
	}

	/*Frecuency Pages*/
	.table_frencuency{
		margin-bottom: 50px;
	}

	.description_text{
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 30px; 
	}